@using TamFinansCase.Entites.Concrete
@model List<Book>
@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_TamLayout.cshtml";
}

<h3>Tüm Kitaplar</h3>
<br />
<a href="/Book/AddBook" class="btn btn-info" style="float:inline-start">Yeni Kitap</a>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Id</th>
        <th>Kategori Adı</th>
        <th>Kitap Yazarı</th>
        <th>Kitap Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BookId</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.WriterName</td>
            <td>@item.BookName</td>
            <td><a href="/Book/DeleteBook/@item.BookId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Book/UpdateBook/@item.BookId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>




